html, body, main {
  min-height: 100%;
  min-width: 100%;
  max-height: 100%;
  max-width: 100%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  margin: 0;
}

body {
  --ll-logo-height: 10vh;
  --ll-name-element-font-size: 6vh;
  --ll-description-element-font-size: 2vh;
  --interior-max-width: 25vh;
  --calendar-heading-font-size: 1.9vh;
  --ll-calendar-content-font-size: 1.7vh;
  --blinking-light-height: 1.25vh;
	--blinking-light-width: 2vh;
  --interior-max-width: 25vh;
  --ll-name-margin: 4vh 0%;
  --ll-description-margin: 1vh 0% 2vh 0%; 
  --ll-calendar-top-margin: 2vh;
  --calendar-heading-padding: 0 10vw 0.5vh 10vw;
}

#content {
  height: 100%;
  width: 100%;
  padding-top: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  z-index: 10;
}

#arc {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1000;
}

#ll-logo {
  height: var(--ll-logo-height);
  max-width: var(--interior-max-width);
}

#ll-name {
  margin: var(--ll-name-margin);
  max-width: var(--interior-max-width);
  font-family: 'Courier New', Courier, monospace;
}

.ll-name-element {
  margin-block: 0;
  font-size: var(--ll-name-element-font-size);
  font-weight: normal;
}

#ll-description, #ll-station {
  margin: var(--ll-description-margin);
  max-width: var(--interior-max-width);
}

#ll-description-element, #ll-station-element {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-block: 0;
  font-size: var(--ll-description-element-font-size);
  font-weight: normal;
}

#ll-calendar-container {
  margin-top: var(--ll-calendar-top-margin);
  height: fit-content;
  width: fit-content;
  max-width: var(--interior-max-width);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#ll-calendar-header {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  white-space: nowrap;
  min-width: fit-content;
  font-weight: normal;
  margin-block: 0;
  padding: var(--calendar-heading-padding);
  font-size: var(--calendar-heading-font-size);
}

#ll-calendar-header a {
  color: black;
  padding-left: 2%;
}

#ll-calendar-header a:hover {
  text-decoration: none;
}

.blinking-light {
	background: green;
	border-radius: 50%;
	height: var(--blinking-light-height);
	width: var(--blinking-light-width);
  margin-right: 2%;
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	transform: scale(1);
	animation: pulse 2s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

#ll-calendar {
  min-width: fit-content;
  width: 120%;
  border-spacing: 0;
  border-collapse: collapse;
  border: none;
  text-align: left;
  white-space: nowrap;
}

#ll-calendar-body tr {
  border-bottom: 0.1vh solid RGBA(211, 211, 218, 0.5);
}

.top-row {
  border-top: 0.25vh black solid;
}

.ll-calendar-element {
  width: 100%;
  display: flex;
}

.ll-date {
  min-width: fit-content;
  max-width: 30%;
  border-right: 0.25vh black solid;
}

.ll-location {
  min-width: fit-content;
  max-width: 70%;
}

.ll-date, .ll-location {
  margin-block: 0;
  font-size: var(--ll-calendar-content-font-size);
  padding: 2% 5%;
}

svg {
  width: 100%;
  height: 100vh;
  z-index: -1;
}

text {
  font-family: 'Knewave', cursive;
  fill: #00C891;
  font-size: 1.5vh;
}

.img-overlay-wrap {
  position: relative;
  display: inline-block; /* <= shrinks container to image size */
  transition: transform 150ms ease-in-out;
}

.img-overlay-wrap img { /* <= optional, for responsiveness */
   display: block;
   max-width: 100%;
   height: auto;
}

.img-overlay-wrap svg {
  position: absolute;
  top: 0;
  left: 0;
}

.img-overlay-wrap:hover {
  transform: rotate( 15deg );
}
