.portrait {
  --ll-logo-height: 7vmax;
  --ll-name-element-font-size: 6vmax;
  --ll-description-element-font-size: 1.85vmax;
  --interior-max-width: 45vw;
  --ll-name-margin: 6% 0%;
  --ll-description-margin: 3% 0% 6% 0%;
  --ll-calendar-top-margin: 6%;
  --calendar-heading-padding: 0 10% 2% 10%;
  --calendar-heading-font-size: 1.75vmax;
  --ll-calendar-content-font-size: 1.65vmax;
}

.landscape {
  --ll-logo-height: 5vmax;
  --ll-name-element-font-size: 3vmax;
  --ll-description-element-font-size: 1.2vmax;
  --interior-max-width: 15vw;
  --ll-name-margin: 2% 0%;
  --ll-description-margin: 1% 0% 2% 0%; 
  --ll-calendar-top-margin: 2%;
  --calendar-heading-padding: 0 10% 2% 10%;
  --calendar-heading-font-size: 1.1vmax;
  --ll-calendar-content-font-size: 1vmax;
}

html {
  min-height: 100vh;
  min-width: 100vw;
  max-height: 100vh;
  max-width: 100vw;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  box-sizing: border-box;
}

body, main {
  max-height: inherit;
  max-width: inherit;
  min-height: inherit;
  min-width: inherit;
  height: inherit;
  width: inherit;
}

#title {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#ll-logo {
  height: var(--ll-logo-height);
  max-width: var(--interior-max-width);
}

#ll-name {
  margin: var(--ll-name-margin);
  max-width: var(--interior-max-width);
}

.ll-name-element {
  margin-block: 0;
  font-size: var(--ll-name-element-font-size);
  font-weight: normal;
}

#ll-description, #ll-station {
  margin: var(--ll-description-margin);
  max-width: var(--interior-max-width);
}

#ll-description-element, #ll-station-element {
  margin-block: 0;
  font-size: var(--ll-description-element-font-size);
  font-weight: normal;
}

#ll-calendar-container {
  margin-top: var(--ll-calendar-top-margin);
  height: fit-content;
  width: fit-content;
  max-width: var(--interior-max-width);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#ll-calendar-header {
  white-space: nowrap;
  min-width: fit-content;
  font-weight: normal;
  margin-block: 0;
  padding: var(--calendar-heading-padding);
  border-bottom: 4px black solid;
  font-size: var(--calendar-heading-font-size);
}

#ll-calendar {
  width: 120%;
  border-spacing: 0;
  border-collapse: collapse;
  border: none;
}

.ll-calendar-element {
  width: 100%;
  display: flex;
}

.ll-date {
  width: 30%;
  border-right: 4px black solid;
}

.ll-location {
  width: 70%;
}

.ll-date, .ll-location {
  margin-block: 0;
  font-size: var(--ll-calendar-content-font-size);
  padding: 2% 5%;
  border-bottom: 1px solid RGBA(211, 211, 218, 0.5);
}

svg {
  width: 100%;
  height: 100vh;
  z-index: -1;
}

text {
  font-family: 'Knewave', cursive;
  fill: #00C891;
}

.img-overlay-wrap {
  position: relative;
  display: inline-block; /* <= shrinks container to image size */
  transition: transform 150ms ease-in-out;
}

.img-overlay-wrap img { /* <= optional, for responsiveness */
   display: block;
   max-width: 100%;
   height: auto;
}

.img-overlay-wrap svg {
  position: absolute;
  top: 0;
  left: 0;
}

.img-overlay-wrap:hover {
  transform: rotate( 15deg );
}
